<div class="top-content">
<!-- Top content -->
<div class="top-content">
  <div class="inner-bg">
    <div class="container">
      <div class="alert alert-success" role="alert">
        <strong><%=t('.token_message') %></strong><%=t('.decrypt_message') %>
    </div>
      <div class="table-responsive">
        <table class="table table-bordered table-hover mytable">
          <thead class="thead-inverse">
            <tr>
              <th><%=t('.token') %></th>
              <th><%=t('.card') %> #</th>
              <th><%=t('.expiry') %></th>
              <th><%=t('.cvv') %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>13432523423424</td>
              <td>4266 8787 8854 7780</td>
              <td>09/09</td>
              <td>131</td>
            </tr>
            <tr>
              <td>13432523423424</td>
              <td>3797 888888 90995</td>
              <td>09/09</td>
              <td>131</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>